[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
ipykernel = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
